{{ $page := .root }}
{{ $section := .page }}

<div class="universal-wrapper pt-3">
  <h1>{{ $section.Params.title }}</h1>
</div>

<style>
  .fb-feed-row{
    margin: 30px -15px !important;
  }
  .pagination-container{
    margin-top: 100px;
  }
</style>


  <div id="fb-post-container">
  </div>

<script>
  window.currentPage = 1;
  window.totalPage=4;
  window.fbFeedData = '{{ $section.Params.fbFeed }}'.replace(/\[|\]/g,'').split(' ');
  window.totalItem = fbFeedData.length;
  function fbFeedUpdated(){
  var HTMLData = "";
  if(window.fbFeedData.length){
    HTMLData+='<div class="container">';
    HTMLData+='<div class="row fb-feed-row">';
    for (var itr=0+(10*(window.currentPage - 1));itr<(totalItem - (10*(window.currentPage)) > 0 ? (10*(window.currentPage)) : totalItem);itr=itr+2){
      if(window.fbFeedData[itr]){
        HTMLData+=`<div class="col"><div class="fb-post" 
        data-href="${window.fbFeedData[itr]}"
        data-width="700"></div></div>`;
      }
      if(window.fbFeedData[itr+1]){
        HTMLData+=`<div class="col"><div class="fb-post" 
        data-href="${window.fbFeedData[itr+1]}"
        data-width="700"></div></div>`;
      }else{
        HTMLData+=`<div class="col"><div></div></div>`;
      }
      if(window.fbFeedData[itr+2]){
        HTMLData+=`</div><div class="row fb-feed-row">`;
      }
    }

    window.paginationUpdate=function (pageNumber){
      if(window.totalPage > pageNumber){
        window.currentPage = pageNumber;
        fbFeedUpdated();
    }
      

    }

    HTMLData+='</div></div>';
    document.getElementById("fb-post-container").innerHTML = HTMLData;
  }
}
fbFeedUpdated();
</script>
<div class="pagination-container d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" onclick="prevPagination()">Previous</a></li>
      <li class="page-item"><a class="page-link" onclick="paginationUpdate(1)">1</a></li>
      <li class="page-item"><a class="page-link" onclick="paginationUpdate(2)">2</a></li>
      <li class="page-item"><a class="page-link" onclick="paginationUpdate(3)">3</a></li>
      <li class="page-item"><a class="page-link" onclick="nextPagination()">Next</a></li>
    </ul>
  </nav>
  </div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>